<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REST DJANGO</title>
</head>
<body>
    <div>
        <a href="{%url 'carrito:carrito_detail'%}">Mi Carrito</a>
    </div>
    <h1>Bienvenido a Django Rest App</h1>
    <a href="{%url 'compras:producto_create'%}">Agregar Producto</a>
    <a href="{%url 'compras:cliente_create'%}">Agregar Cliente</a>
    <a href="{%url 'compras:orden_create'%}">Agregar Orden</a>
    <a href="{%url 'compras:orden_consumer'%}">Consumer Orden API</a>
    <a href="{%url 'compras:producto_consumer'%}">Consumer Producto API</a>
</body>
</html>